body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #5A554E;
}

h1, h2, h3 {
    margin: 0;
    padding: 0 0 10px 0;
    font-weight: normal;
    color: #32639A;
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
}

h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #32639A;
    padding: 0px;
    margin: 15px;
}

p, ul, ol {
    margin-top: 0;
    line-height: 200%;
    font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a:hover {
    text-decoration: underline;
    color: #516C00;
}

a {
    text-decoration: none;
    color: #516C00;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 380px;
  position: absolute;
  top: 2px;
  left: 24px;
  font-style: italic;
  font-size: 12px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#questionmark {
    color: grey;
    font-size: 20px;
}

#backcasts {
    clear: both;
}

#city_weather {
    text-align: center;
    margin-bottom: 20px;
}

#city_title {
    margin: 0;
    padding: 0 0 10px 0;
    font-weight: bold;
    font-size: 30px;
    margin-right: 20px;
    color: #32639A;
    text-align: center;
}

.yellow {
    color: darkorange;
}

.grey {
    color: grey;
}

.lightblue {
    color: lightblue;
}

.blue {
    color: dodgerblue;
}

.date {
    font-family: monospace;
    font-weight: bold;
    color: #32639A;
    font-size: 18px;
    margin-right: 20px;
}

#casts-wrapper {
    overflow: hidden;
}

#backcasts-container {
    float: left;
}

#forecasts-container {
    float: right;
    overflow: hidden;
}

#wrapper {
    margin: 0px;
    padding: 0px;
    background: url(images/gradientbg.jpg) repeat-x left top;
}

/* Header */

#header {
    width: 990px;
    height: 235px;
    margin: 0 auto;
    padding: 0px;
    background: url(images/header.jpg) no-repeat left top;
}

/* Logo */

#logo {
    float: left;
    margin: 0;
    padding: 90px 0px 0px 30px;
    color: #000000;
}


#banner {
    margin-bottom: 20px;
    border: 12px #ECECEC solid;
}

/* Menu */

#menu {
    width: 990px;
    height: 65px;
    margin: 0 auto;
    padding: 0;
    background: url(images/menugrass.jpg) no-repeat left top;
}

#menu ul {
    float: right;
    margin: 0;
    padding: 0px 10px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    width: 120px;
    height: 39px;
    margin-left: 10px;
    padding-top: 15px;
    background: url(images/menubt_bg.jpg) repeat-x left top;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
}

#menu .current_page_item a {
    background: url(images/menubt_bg_selected.jpg) no-repeat left top;
    padding-left: 0;
    color: #493E2B;
}

/* Page */

#page {
    width: 890px;
    margin: 0px auto;
    padding: 40px 50px 0px 50px;
    background: #FFFFFF;
}

/* Content */

#content {
    width: 890px;
    padding: 0px 0px 0px 0px;
}

img.centered, #content {
    display: block;
}

.centered, #content img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#weather {
    display: flex;
}

.weather {
    padding-bottom: 40px;
    margin: auto;
}

.post {
    margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
    height: 38px;
    margin-bottom: 10px;
    padding: 12px 0 0 0px;
    letter-spacing: -.5px;
    font-size: 36px;
    color: #493E2B;
}

.post .title a {
    color: #493E2B;
    border: none;
}

.post .meta {
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    letter-spacing: -1px;
    font-size: 23px;
    font-weight: normal;
    color: #6E8D3D;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.post .meta .date {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .meta a {
}

.post .entry {
    background: url(images/postbg.jpg) no-repeat left top;
    padding: 25px 0px 0px 0px;
    text-align: justify;
}

.links {
    padding-top: 20px;
}

.list li {
    margin-bottom: 6px;
}

/* Polaroid Images */

div.container {
    text-align: center;
    padding: 10px 20px;
}

div.polaroid {
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: auto;
    width: 280px;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Inline images */
img.inline {
    display: inline;
}

/* Footer */

#footer-content {
    width: 900px;
    height: 100px;
    margin: 0 auto;
    padding: 40px 50px 0px 50px;
    background: url(images/footerbg.jpg) no-repeat left top;
    font-size: 12px;
    color: #887450;
}

#footer-content .text {
    float: right;
}

#footer-content a {
    color: #AA8B55;
}

#footer-content a:hover {
    color: #AA8B55;
}

