body {
    background: #f9f9f9;
    margin-top: 8px;
}

.html-map {
    width: 1832px;
    margin-left: auto;
    margin-right: auto;
}

#map-table-container {
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
}

#Table_01 img[alt="sector"] {
    background: #bebebe;
}

#Table_01 img[alt="boulder"] {
    background: #bebebe;
}

#Table_01 img[alt="sector"]:hover {
    background: #199d09;
}

#Table_01 img[alt="boulder"]:hover {
    background: #fd9117;
}

#map-title {
    flex: 1;
}
