body {
    width: 100%;
    background: #f9f9f9;
    color: #666;
    font-family: Helvetica, Arial;
}

tfoot input {
    width: 100%;
}

tfoot {
    display: table-header-group;
}

table {
    padding-top: 20px;
    border-collapse: collapse;
    word-wrap: break-word;
}

th {
    background-color: #fff;
    color: #666;
}

hr {
    border-color: #235b9a;
}

td.centered {
    text-align: center;
}

td.tiny {
    font-size: 12px;
}

table.dataTable tfoot th {
    padding: 5px;
    border-top: 0px;
}

table.dataTable thead th {
    padding: 5px;
    font-size: 13px;
    text-align: left;
}

table.dataTable tbody td {
    padding: 8px 5px;
}

#example_wrapper {
    padding: 10px 20px 20px 20px;
    background: #ffffff;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

#example {
    padding-top: 0px;
}

#example_info {
    font-size: 14px;
    padding-top: 10px;
    color: #666;
}

#credits {
    padding-top: 10px;
    font-size: .7em;
    letter-spacing: .2em;
}

.button {
    font-size: 16px;
    margin-left: 15px;
    background-color: #235b9a;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
}

.dt-button {
    background: white !important;
    color: #666 !important;
    font-size: 12px !important;
    box-shadow: none !important;
}

.dt-button.active:not(.disabled) {
    background: url("images/tick.png") no-repeat scroll 0 0 transparent !important;
}

.dt-buttons {
    margin-right: 0 !important;
}

.grade-button {
    font-size: 14px;
    margin-left: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.map-button {
    font-size: 16px;
    margin-left: 15px;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    width: 15%;
    height: 85%;
    cursor: pointer;
}

.title {
    font-size: 22px;
    letter-spacing: .1em;
}

a.underline {
    border-bottom: 1px blue dotted;
}

a:link {
    color: #235b9a;
    text-decoration: none;
}

a:visited {
    color: #235b9a;
    text-decoration: none;
}

a:hover {
    color: #235b9a;
    text-decoration: none;
}

a:active {
    color: #235b9a;
    text-decoration: none;
}

input, select, textarea{
    color: red;
}

div.dt-buttons {
    float: right;
    margin-right: 20px;
}

.dataTables_filter {
    padding-top: 12px;
}

#main_table {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#route_root {
    margin: auto;
    width: 1200px;
    letter-spacing: .1em;
}

#disqus_thread {
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

.header {
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    text-align: center;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

.flex {
    display: flex;
}

.back_button {
    padding-left: 8px;
}

#title-div {
    flex: 1;
}

#wrapper {
    overflow: hidden;
    padding: 20px;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
    background: white;
    margin-bottom: 16px;
}

#images {
    float: left;
    text-align: center;
}


#hold {
    width: 130px;
}

#details {
    overflow: hidden;
    font-size: 20px;
}

#details label {
    display: block;
    margin-left: 60px;
}

#status {
    font-size: 24px;
}

.red-text {
    color: red;
}

.green-text {
    color: #32CD32;
}

#kids {
    font-size: 24px;
    color: orange;
}

#grade {
    font-size: 40px;
}

#quick-filters {
    margin-top: 40px;
}

.quick-filter {
    margin-left: 14px;
}

#quick-buttons {
    height: auto;
    background: #f9f9f9;
    padding: 15px;
    /* Shadow stuff */
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: inset 0 0 3px #bebebe;
}

#map-buttons {
    height: 40px;
    position: absolute;
    width: 1170px;
    z-index: 10;
    /* Animation stuff */
    -webkit-transition: height 0.5s; /* Safari */
    transition-timing-function: ease; /* Safari */
    transition: height 0.5s;
    transition-delay: 0.5s;
    -webkit-transition-timing-function: ease;
}

#map-buttons:hover {
    height: 124px;
}

.emphasis {
    color: black;
    font-weight: bold;
}

.table-grade {
    padding: 1px 3px;
    color: white;
    font-weight: lighter;
}

.yellow {
    background: #ffec01;
    color: black;
}

.green {
    background: #00b259;
    color: white;
}

.blue {
    background: #018ccf;
    color: white;
}

.red {
    background: #f00;
    color: white;
}

.black {
    background: black;
    color: white;
}

.grey {
    background: grey;
    color: white;
}

#sector {
    display: block;
    padding: 20px;
    font-size: 24px;
    color: black;
}

#images_table td {
    padding-right: 20px
}

#map_sector {
    text-align: center;
    padding-top: 10px;
    background: white;
    -moz-box-shadow: 0 0 3px #bebebe;
    -webkit-box-shadow: 0 0 3px #bebebe;
    box-shadow: 0 0 3px #bebebe;
}

#map {
    width: 100%;
    color: #235b9a;
}


#gaswerk_map {
    background: url("gaswerk-map/gaswerk_map_image.png") scroll 0 0 transparent;
    background-size: 100%;
}

#gaswerk_boulders {
    background: url("gaswerk-map/gaswerk_boulders_image.png") scroll 0 0 transparent;
    background-size: 100%;
}

#milandia_map {
    background: url("milandia-map/milandia_map_image.png") scroll 0 0 transparent;
    background-size: 100%;
}

#milandia_boulders {
    background: url("milandia-map/milandia_boulders_image.png") scroll 0 0 transparent;
    background-size: 100%;
}

#wadenswil_map {
    background: url("wadenswil-map/wadenswil_routes_button.png") scroll 0 0 transparent;
    background-size: 100%;
}

#wadenswil_boulders {
    background: url("wadenswil-map/wadenswil_boulders_button.png") scroll 0 0 transparent;
    background-size: 100%;
}
